<div class="libraryBtn_container">
  <div class="libraryBtn">
    <button class="libraryBtn_items watched" data-action="watched-btn">
      Watched
    </button>
    <button class="libraryBtn_items queue" data-action="queue-btn">
      Queue
    </button>
  </div>
</div>

<div class="movie-container">
  <ul class="movie-list" id="js-watched"></ul>
  <ul class="movie-list" id="js-queue"></ul>
</div>