$main-font-stack: 'Acrom', 'Roboto', sans-serif,;
$main-orange-color: #ff702a;
$secondary--color-sand: #f9ae23;
$secondary--color-aqua: #00eaff;
$primary-white-color: #ffffff;
$primary-dark-color: #222222;
$secondary-dark-color: #1b202a;