$main-font-stack: 'Roboto',
sans-serif;

$main-bg-color: rgb(119, 192, 186);
$secondary-bg-color: rgb(173, 218, 214);
$main-font-color: rgb(55, 44, 72);
$secondary-font-color: rgba(55, 44, 72, 0.702);
$btn-color: rgb(85, 98, 112);
