@import '../../../sass/helpers/variables.scss';

.homeSection {
  margin: auto;
  width: 320px;
}

.searchBar {
  background-color: rgb(243, 246, 246);
  width: 320px;
  height: 66px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.23);
}

.searchForm {
  margin: 0 auto;
  width: 257px;
  display: flex;
  flex-wrap: wrap;
}

.searchForm::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgb(156, 153, 165);
  margin-top: 4px;
}

.searchIcon {
  width: 17px;
  height: 17px;
  display: block;
  margin-right: 10px;
}

.serchInput {
  width: 222px;
  background-color: rgb(243, 246, 246);
  border: none;
  outline: none;
}

.serchInput::placeholder {
  color: $main-font-color;
  font-family: $main-font-stack;
  font-size: 15px;
}

.pagination {
  margin: 0 auto;
  width: 320px;
  padding: 20px 0;
}

.paginationWrapper {
  margin: 0 auto;
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination_btn {
  width: 94px;
  height: 46px;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 5px;
  outline: none;
  font-family: $main-font-stack;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: $btn-color;
  cursor: pointer;
  background: none;
  background-image: linear-gradient(0deg,
      rgb(240, 240, 240) 0%,
      rgba(240, 240, 240, 0) 100%);


}

.pagination_page-number {
  display: block;
  padding-top: 10px;
  width: 46px;
  height: 46px;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: $btn-color;
  text-align: center;
  background-image: linear-gradient(0deg,
      rgb(240, 240, 240) 0%,
      rgba(240, 240, 240, 0) 100%);
}

.invisible {
  display: none;
}

@media (min-width: 768px) {

  .homeSection,
  .searchBar,
  .pagination {
    width: 768px;
  }
}

@media (min-width: 1024px) {

  .homeSection,
  .searchBar,
  .pagination {
    width: 1024px;
  }
}
