<section class="homeSection js-homeSection" id="jShomeSection">
  <div class="searchBar js-searchBar" id="searchBar">
    <div class="searchForm js-searchform">
      <img class="searchIcon" src="{{icon}}" alt="search-icon" value="" width="19" height="19">
      <input class="serchInput js-searchInput" type="text" name="search" autocomplete="off"
        placeholder="Write movie name and wait">
    </div>
  </div>
  <ul class="film-gallery" id="js-film-gallery"></ul>
  <div class="pagination">
    <div class="paginationWrapper invisible" id="pagination">
      <button class="pagination_btn prev_btn" id="prevBtn">Prev</button>
      <span class="pagination_page-number" id="paginationPageNumber">1</span>
      <button class="pagination_btn" id="nextBtn">Next</button>
    </div>
  </div>
</section>