@import '../../../sass/helpers/variables.scss';
@import '../../../sass//helpers/mixins.scss';

.film-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
  padding-top: 12px;

  &__item {
    position: relative;
    transition: all 300ms linear;

    &:hover {
      transform: scale(1.07);
    }

    @media (max-width: 767px) {
      margin-bottom: 12px;
    }
  }

  &__poster {
    width: 300px;
    height: 160px;
    border-radius: 10px;
  }

  &__title {
    font-family: $main-font-stack;
    @include font-set(12px, 14px);
    font-weight: 700;
    position: absolute;
    color: rgb(240, 235, 235);
    bottom: 8px;
    left: 14px;
    text-shadow: 1px 1px 2px black;
  }

  &__icon {
    font-family: $main-font-stack;
    font-weight: 700;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 16px;
    line-height: 16px;
    color: $main-font-color;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .film-gallery {
    width: 768px;
    justify-content: space-evenly;
    padding-top: 28px;

    &__item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 20px;
    }

    &__poster {
      width: 348px;
      height: 176px;
    }

    &__title {
      @include font-set(12px, 14px);
    }
  }
}

@media (min-width: 1024px) {
  .film-gallery {
    width: 1024px;
    padding-top: 30px;

    &__item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 26px;
    }
    &__poster {
      width: 466px;
      height: 246px;
    }

    &__title {
      @include font-set(20px, 23px);
      bottom: 20px;
    }
  }
}
