 {{!-- <header class="header"> --}}
      <div class="container">
        <nav class="navigation">
          <a href="#" class="logotype">
            <img
              class="logotype__img"
              src="../images/logo.svg"
              alt="logotype"
              width="22"
              height="20"
            />
            <span class="logotype__link">Filmoteka</span>
          </a>

          <ul class="navigation__list">
            <li class="navigation__list-item">
              <a href="#" class="navigation__list-link">Home</a>
            </li>
            <li class="navigation__list-item">
              <a href="#" class="navigation__list-link">My library</a>
            </li>
          </ul>
        </nav>
      </div>
    {{!-- </header> --}}